body{
    margin: 0;
    padding: 0;
    background: url(body1.jpg) center center/cover no-repeat;
}

.header{
    height: 280px;
    width: 100%;
    background: url(header.jpg) center center/cover no-repeat;
}

#form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#search{
    position: relative;
    padding: 7px 130px 7px 17px;
    border-radius: 30px;
    border: 1px solid black;
    
}

.button{
    position: absolute;
    right: 1px;
    border-radius: 30px;
    padding: 8px;
    border: none;
    background: rgb(66, 167, 207);
}

.input-block{
    position: relative;
}

.listen{
    border-radius: 30px;
    padding: 8px;
    border: none;
    background: blueviolet;
    text-decoration: none;
    color: white;
}

.song-item{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

#more{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn{
    border-radius: 30px;
    padding: 8px;
    border: none;
    background: blueviolet;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

@media (max-width: 500px){
    .song-item{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid blueviolet;
        align-items: center;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    .dash{
        display: none;
    }
    #search{
        width: 100%;
    }
    #form{
        padding: 10px;
    }
}
